@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-purple-600 hover:bg-purple-700 text-white font-semibold py-3 px-6 rounded-full transition-all;
  }
}
